extends ./layout.jade

block title
  title Fermentiera Alpina - Azienda | Modenese Silvano

block content
  .content_section
    .content_item
      a(href="http://www.modenesesilvano.com")
        img(src="/images/ModeneseSilvano.svg", alt="Silvano Modenese", width="400")
      div
        strong
          | Attrezzature e prodotti per la transformazione del latte
          | e per l'industria alimentare
    div &nbsp;
    div &nbsp;
    div
      | Dal 1978 forniamo attrezzature e prodotti per l'industria alimentare e casearia,
      | garantendo consulenza tecnica ed assistenza ai nostri clienti.
    .content_item
      | Fornitura di scambiatori di calore a piastre, pompe per liquidi alimentari,
      | tank in acciaio inox, pastorizzatori, generatori di vapore, impianti per caseifici,
      | carrelli, tavoli sparsoi, vasche, scaffali in acciaio inox, caldaie e tine di cottura,
      | minicaseifici, yogurtiere.
    .content_item
      | Per maggiori informazioni visitate:&nbsp;
      span
        a(href="http://www.modenesesilvano.com") www.modenesesilvano.com
