extends ./layout.jade

block title
  title Fermentiera Alpina - FAQ | Modenese Silvano

block content

  h2 Domande frequenti

  ul.question-list
      li
        a(href="#q1") Dimensioni
      li
        a(href="#q2") Peso a vuoto
      li
        a(href="#q3") A chi si rivolge Alpina?
      li
        a(href="#q4") Cosa posso fare con Alpina?
      li
        a(href="#q5") Posso personalizzare i programmi?
      li
        a(href="#q6") Cosa serve per utilizzare alpina?
      li
        a(href="#q7") Cosa deve fare l'operatore per utilizzarla?
      li
        a(href="#q8") Cosa devo fare una volta avviato il ciclo?
      li
        a(href="#q9") Qual è il consumo elettrico per un ciclo standard?
      li
        a(href="#q10") Quanta acqua consuma per raffreddare?
      li
        a(href="#q11") Quanto dura un ciclo?
      li
        a(href="#q12") Come raffreddo lo yogurt o il latteinnesto se l'acqua non è molto fredda?
      li
        a(href="#q13") È possibile fare più cicli al giorno?
      li
        a(href="#q14") È possibile registrare i cicli termici eseguiti?
      li
        a(href="#q15") Alpina è a normativa?
      li
        a(href="#q16") Come ordinare Alpina?
      li
        a(href="#q17") Quali sono i tempi di consegna?
      li
        a(href="#q18") Quali sono i tempi previsti per rientrare con l'investimento?
      li
        a(href="#q19") Come pulire e garantire una lunga vita della macchina?
      li
        a(href="#q20") Qual è il periodo di copertura della garanzia?
      li
        a(href="#q21") Dove è prodotta la macchina?


  a(class="anchor", id="q1")
  .question Dimensioni
  .answer
    | Diametro 35cm, <br>
    | altezza 74cm

  a(class="anchor", id="q2")
  .question Peso a vuoto
  .answer 20kg

  a(class="anchor", id="q3")
  .question A chi si rivolge Alpina?
  .answer Alpina è rivolta ad un pubblico di piccole e medie produzioni quali azienda di trasformazione del latte, aziende agricole, agriturismi, fattorie didattiche, malghe ed alberghi.

  a(class="anchor", id="q4")
  .question Cosa posso fare con Alpina?
  .answer Puoi produrre latteinnesto o lattefermento, yogurt e latte termizzato in base al programma selezionato.

  a(class="anchor", id="q5")
  .question Posso personalizzare i programmi?
  .answer Tramite il semplice ed intuitivo PLC puoi modificare i parametri del ciclo quali tempi, temperature e funzionamento dell'agitatore.

  a(class="anchor", id="q6")
  .question Cosa serve per utilizzare alpina?
  .answer Sono sufficienti l'allacciamento alla rete elettrica, alla rete idrica e ad uno scarico.
  
  a(class="anchor", id="q7")
  .question Cosa deve fare l'operatore per utilizzarla?
  .answer Dopo aver letto il manuale di istruzioni basta aggiungere il latte ed avviare il ciclo.
  
  a(class="anchor", id="q8")
  .question Cosa devo fare una volta avviato il ciclo?
  .answer 
    | Nulla per i programmi di latte innesto e trattamento termico del latte. <br>
    | Per il programma dello yogurt è necessario aggiungere i fermenti alla temperatura impostata e confermare l'operazione sul PLC.
  
  a(class="anchor", id="q9")
  .question Qual è il consumo elettrico per un ciclo standard?
  .answer Il consumo elettrico è di 3,8 kWh.
  
  a(class="anchor", id="q10")
  .question Quanta acqua consuma per raffreddare?
  .answer Il consumo di acqua è di 80-90 litri.
  
  a(class="anchor", id="q11")
  .question Quanto dura un ciclo?
  .answer Dipende dalla durata della fermentazione; per lo yogurt indicativamente 10-12 ore, per il latte innesto 8-10 ore.
  
  a(class="anchor", id="q12")
  .question Come raffreddo lo yogurt o il latteinnesto se l'acqua non è molto fredda?
  .answer 
    | Una volta raggiunta la temperatura minima con l'acqua disponibile puoi estrarre la pentola e riporla in frigorifero apponendo il coperchio semplice in dotazione.
    | In alternativa è possibile collegarla ad una centralina di produzione acqua gelida.
  
  a(class="anchor", id="q13")
  .question È possibile fare più cicli al giorno?
  .answer Si, per facilitare la cosa è possibile acquistare un secchio di lavorazione in più.
  
  a(class="anchor", id="q14")
  .question È possibile registrare i cicli termici eseguiti?
  .answer Alpina è predisposta  per la registrazione dei cicli, collegando il PLC ad un computer  tramite una cavo (USB-RS232) è possibile esportare i dati registrati.

  a(class="anchor", id="q15")
  .question Alpina è a normativa?
  .answer Alpina è conforme alla normativa 2006/42/CE (Normativa macchine).

  a(class="anchor", id="q16")
  .question Come ordinare Alpina?
  .answer Per ordinare Alpina è richiesto un ordine scritto cui fa seguito il pagamento di un anticipo tramite bonifico bancario.

  a(class="anchor", id="q17")
  .question Quali sono i tempi di consegna?
  .answer I tempi di consegna stimati sono di 15-20 giorni lavorativi.

  a(class="anchor", id="q18")
  .question Quali sono i tempi previsti per rientrare con l'investimento?
  .answer Producendo 30 litri di yogurt alla settimana si può stimare di rientrare nell'arco di 8 mesi.

  a(class="anchor", id="q19")
  .question Come pulire e garantire una lunga vita della macchina?
  .answer 
    | Per la pulizia di Alpina utilizzare detergenti per il lavaggio delle stoviglie idonei all'uso alimentare e spugne, panni o spazzole non abrasive. Sciacquare abbondantemente con acqua.
    | Prestare sempre attenzione a non bagnare le parti elettriche.

  a(class="anchor", id="q20")
  .question Qual è il periodo di copertura della garanzia?
  .answer La garanzia ha durata di un anno dalla data riportata sulla bolla di consegna.

  a(class="anchor", id="q21")
  .question Dove è prodotta la macchina?
  .answer Alpina è prodotta interamente in Italia.
