extends ./layout.jade

block title
  title Fermentiera Alpina | Modenese Silvano

block content
  .content_section
    .content_title FERMENTIERA A BAGNOMARIA
    .content_item
      img(src="/images/foto_schematica.png")
    .content_item
      p
        | Fermentiera elettrica automatica con capacità lavorabile di 14 litri di
        | latte, con secchio estraibile e PLC di controllo del ciclo termico.
      p
        | Il funzionamento è basato sul principio del riscaldamento e raffreddamento
        | "a bagnomaria" del latte. Tramite il controllo del ciclo termico del latte
        | trattato si ottiene la preparazione di latte-innesto, siero-innesto, yogurt
        | e dessert.
  .content_section
    .content_title COMPONENTI
    .content_item
      p La fermentiera è costituita da quattro componenti:
      ul
        li
          | la struttura cilindrica esterna in acciaio inox AISI 304 all’interno
          | della quale è ricavato un bagnomaria nel quale viene inserito il
          | secchio di lavorazione
        li
          | il secchio di lavorazione cilindrico in acciaio inox AISI 304 dove
          | viene immesso il latte dalavorare della capacità di 14 litri
        li
          | il coperchio del secchio in acciaio inox AISI 304 su cui è montato
          | l'elettroagitatore (protetto da un carter) con la pala per la
          | mescolazione del latte in acciaio inox AISI 304 e la sonda di
          | misurazione della temperatura del latte
        li
          | la cassetta in acciaio inox AISI 304 nella quale è installato il
          | PLC di controllo dei cicli termici

  .content_section
    .content_title PROCESSO
    .content_item
      p
        | Le operazioni di raffreddamento sono realizzate in automatico tramite
        | un'apposita elettrovalvola di ingresso acqua di rete (a perdere) o
        | utilizzando acqua gelida da impianto esterno (optional).
      p
        | Le operazioni di riscaldamento e mantenimento della temperatura sono
        | realizzate mediante una resistenza elettrica controllata dal PLC.

  .content_section
    .content_title SPECIFICHE TECNICHE
    .content_item
      p
        | Dimensioni esterne cm Ø 35x70H
      p
        | Alimentazione resistenza: 220 V ; 1,6 kW
      p
        | Tempo riscaldamento 14 litri di latte 20-70°C c.ca 50-60 minuti

