extends ./layout.jade

block title
  title Fermentiera a Bagnomaria Yogurtiera Alpina | Modenese Silvano

block additional-headers
  include ./includes/photo_swipe/style.jade

block content
  .content_section
    center
      h1.content_title Fermentiera a Bagnomaria Yogurtiera
      include ./includes/photos.jade

    .content_item
      p
        | Fermentiera elettrica automatica con capacit&agrave; lavorabile di&nbsp;
        b 14 litri di latte.
      p
        | Il funzionamento &egrave; basato sul principio del riscaldamento e raffreddamento
        | "a bagnomaria" del latte. Tramite il controllo del ciclo termico del latte
        | trattato si ottiene la preparazione di
        b
          | latte-innesto, siero-innesto, yogurt,
          | latte pastorizzato e dessert.

  .content_section
    .content_title Componenti
    .content_item
      p La fermentiera &egrave; costituita da quattro componenti:
      ul
        li
          b
            | la struttura cilindrica esterna&nbsp;
          | in acciaio inox AISI 304 all'interno&nbsp;
          | della quale &egrave; ricavato un bagnomaria dove viene inserito il&nbsp;
          | secchio di lavorazione
        li
          b
            | il secchio di lavorazione cilindrico&nbsp;
          | in acciaio inox AISI 304 dove&nbsp;
          | viene immesso il latte da lavorare della capacit&agrave; di 14 litri
        li
          b
            | il coperchio del secchio&nbsp;
          | in acciaio inox AISI 304 su cui &egrave; montato&nbsp;
          b
            | l'elettroagitatore (protetto da un carter)&nbsp;
          | con&nbsp;
          b
            | la pala&nbsp;
          | per la mescolazione del latte in acciaio inox AISI 304 e&nbsp;
          b
            | la sonda&nbsp;
          | di misurazione della temperatura del latte
        li
          b
            | il quadro&nbsp;
          | in acciaio inox AISI 304 nella quale &egrave; installato&nbsp;
          b
            | il PLC di controllo&nbsp;
          | dei cicli termici

  .content_section
    .content_title Processo
    .content_item
      p
        | Le operazioni di raffreddamento sono realizzate automaticamente tramite
        | un'apposita elettrovalvola di ingresso acqua di rete (a perdere) comandata
        | dal PLC oppure utilizzando acqua gelida da impianto esterno (optional).
      p
        | Le operazioni di riscaldamento e mantenimento della temperatura sono
        | realizzate mediante una resistenza elettrica gestita dal PLC.

  .content_section
    .content_title Specifiche Tecniche
    .content_item
      p
        | Dimensioni esterne:&nbsp;
        b
          | Diametro &Oslash; 35cm, altezza 74cm
      p
        | Peso a vuoto:&nbsp;
        b
          | 20kg
      p
        | Alimentazione resistenza:&nbsp;
        b
          | 220V ; 1,8kW ; 50Hz
      p
        | Tempo riscaldamento:&nbsp;
        b
          | 14 litri di latte 20-70&deg;C c.ca 50-60 minuti

block additional-scripts

  include ./includes/photo_swipe/script.jade
