doctype html
html(lang="en")
  head
    block title
      title Yogurtiera Fermentiera Alpina | Silvano Modenese
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    //- link(rel="icon", type="image/png", href="/images/favicon-32x32.png")
    link(href="//fonts.googleapis.com/css?family=Russo+One", rel="stylesheet", type="text/css")
    link(href="/styles/bundle.css" rel="stylesheet")
    block additional-headers
  body
    .header
      .header__content
        .header__logo
          a(href="/")
            img(src="/images/logo.svg" alt="")
        .header_nav
          span.item
            a(href="/faq") FAQ
          span.item |
          span.item
            a(href="/ModeneseSilvano") Modenese Silvano

    .container
      .content
        block content

    .bottom
      .bottom__content
        .bottom__content--left &copy;
          span Silvano Modenese 2015
        //- .bottom__content--right
        //-   span.bottom__follow-us Follow us
        //-   a.bottom__social-button.bottom__social-button--facebook(href="https://www.facebook.com")
        //-   a.bottom__social-button.bottom__social-button--instagram(href="https://instagram.com")

    .footer
      .footer__contacts_container
        .footer__logo
          img(src="/images/ModeneseSilvano.svg", alt="Silvano Modenese", width="260")
          div
            strong
              | Attrezzature e prodotti per la transformazione del latte
              | e per l'industria alimentare
        .footer__contacts_info
          div
            a(mailto="info@modenesesilvano.com") info@modenesesilvano.com
          div Amministrazione: 38023 Cles (TN) - Via Trento 83 C
          div Tel.&nbsp;
            a(tel="+390463422336") (+39) 04634/22336
          div Fax. (+39) 0463/429270
          div Magazzino: 38023 Cles (TN) - Viale Degasperi, 118/23
          div Cod. Fisc. MDN SVN 55A11 C794J
          div Part. IVA: 00373870229
      script(src="//cdnjs.cloudflare.com/ajax/libs/fastclick/1.0.6/fastclick.min.js")
      script(src="/modules/smooth-scroll/dist/js/smooth-scroll.min.js")
      script.
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', '#{ga}', 'auto');
        ga('send', 'pageview');
        window.addEventListener('load', function() {
          new FastClick(document.body);
        }, false);
        smoothScroll.init({
          selector: '[data-scroll]', // Selector for links (must be a valid CSS selector)
          selectorHeader: '[data-scroll-header]', // Selector for fixed headers (must be a valid CSS selector)
          speed: 500, // Integer. How fast to complete the scroll in milliseconds
          easing: 'easeInOutCubic', // Easing pattern to use
          updateURL: true, // Boolean. Whether or not to update the URL with the anchor hash on scroll
          offset: 0, // Integer. How far to offset the scrolling anchor location in pixels
          callback: function ( toggle, anchor ) {} // Function to run after scrolling
        });

      block additional-scripts

      script(type="application/ld+json")
        | {
        |   "@context": "http://schema.org",
        |   "@type": "Organization",
        |   "url": "http://www.alpinalatte.com",
        |   "logo": "http://www.alpinalatte.com/images/logo.svg",
        |   "contactPoint": [
        |     {
        |       "@type": "ContactPoint",
        |       "telephone": "(+39) 0463/429270",
        |       "contactType": "customer service",
        |       "availableLanguage": "Italian",
        |       "email": "info@modenesesilvano.com",
        |       "faxNumber": "(+39) 0463/429270"
        |     }
        |   ]
        | }
