extends ./layout.jade

block title
  title Alpina - Häufig gestellte Fragen | Modenese Silvano

block content

  a(class="anchor", id="domande")
  .content_section
  .content_title Häufig gestellte Fragen
  .question-list
    ul
      li
        a(class="anchor", id="q3")
        a(data-scroll="", href="#a3") Für wen wurde Alpina entwickelt?
      li
        a(class="anchor", id="q4")
        a(data-scroll="", href="#a4") Was kann ich mit Alpina herstellen?
      li
        a(class="anchor", id="q5")
        a(data-scroll="", href="#a5") Kann ich die Programmauswahl individuell verändern?
      li
        a(class="anchor", id="q6")
        a(data-scroll="", href="#a6") Welche Voraussetzungen benötigt die Inbetriebnahme von Alpina?
      li
        a(class="anchor", id="q7")
        a(data-scroll="", href="#a7") Worauf muss ich als Anwender achten?
      li
        a(class="anchor", id="q8")
        a(data-scroll="", href="#a8") Was muss ich nach dem Programmstart beachten?
      li
        a(class="anchor", id="q9")
        a(data-scroll="", href="#a9") Wieviel Strom konsumiert Alpina im Durchschnitt?
      li
        a(class="anchor", id="q10")
        a(data-scroll="", href="#a10") Wie viel Wasser benötigt das Gerät?
      li
        a(class="anchor", id="q11")
        a(data-scroll="", href="#a11") Wie lange dauert ein Zyklus?
      li
        a(class="anchor", id="q12")
        a(data-scroll="", href="#a12") Wie kann ich ohne kühlem Wasser trotzdem eine Abkühlung erreichen?
      li
        a(class="anchor", id="q13")
        a(data-scroll="", href="#a13") Können an einem Tag auch mehrere Zyklen gestartet werden?
      li
        a(class="anchor", id="q14")
        a(data-scroll="", href="#a14") Ist es möglich die durchgeführten Programme der Milchverarbeitung abzuspeichern?
      li
        a(class="anchor", id="q15")
        a(data-scroll="", href="#a15") Ist Alpina normgerecht?
      li
        a(class="anchor", id="q16")
        a(data-scroll="", href="#a16") Wie kann Alpina erworben werden?
      li
        a(class="anchor", id="q17")
        a(data-scroll="", href="#a17") Wie viele Tage kann die Lieferung in Anspruch nehmen?
      li
        a(class="anchor", id="q18")
        a(data-scroll="", href="#a18") QWann hat sich die Anschaffung dieses Gerätes bezahlt gemacht?
      li
        a(class="anchor", id="q19")
        a(data-scroll="", href="#a19") Wie soll das Gerät gepflegt werden, um eine lange Betriebsdauer zu erreichen?
      li
        a(class="anchor", id="q20")
        a(data-scroll="", href="#a20") Wie lange ist das Gerät unter Garantie?
      li
        a(class="anchor", id="q21")
        a(data-scroll="", href="#a21") Wo wird Alpina produziert?

  .content-item
    a(class="anchor", id="a3")
    .question
      a(data-scroll="", href="#q3") Für wen wurde Alpina entwickelt?
    .answer Alpina ist ein geeignetes Gerät für kleine und mittlere Betriebe in der Milchverarbeitung, wie etwa für landwirtschaftliche Betriebe, Agrartourismus, Almen, Lehrbetriebe, Gasthäuser und Hotels.

    a(class="anchor", id="a4")
    .question
      a(data-scroll="", href="#q4") Was kann ich mit Alpina herstellen?
    .answer Mit Alpina können aufgrund der unterschiedlichen einprogrammierten Programme, Käsekulturen und Fermente, sowie Joghurt und pasteurisierte Milch hergestellt werden.

    a(class="anchor", id="a5")
    .question
      a(data-scroll="", href="#q5") Kann ich die Programmauswahl individuell verändern?
    .answer Auf dem Display an der externen Programmsteuerung können die Temperatur, die Zeitspanne und die Rührfunktion manuell eingestellt und variiert werden.

    a(class="anchor", id="a6")
    .question
      a(data-scroll="", href="#q6") Welche Voraussetzungen benötigt die Inbetriebnahme von Alpina?
    .answer Für die Verwendung von Alpina benötigen Sie lediglich einen Strom-und Wasseranschluss, sowie einen Abfluss in unmittelbarer Nähe.

    a(class="anchor", id="a7")
    .question
      a(data-scroll="", href="#q7") Worauf muss ich als Anwender achten?
    .answer Lesen Sie zuerst die Gebrauchsanweisung des Gerätes. Füllen Sie den Behälter mit Milch und starten Sie danach das gewünschte Programm. Alles weitere wird Ihnen am Display angezeigt.

    a(class="anchor", id="a8")
    .question
      a(data-scroll="", href="#q8") Was muss ich nach dem Programmstart beachten?
    .answer
      | Für die Joghurtherstellung müssen Sie beim Erreichen der vorgeschriebenen Temperatur die Fermente hinzufügen und diese Zugabe am Display bestätigen. <br>
      | Für alle weiteren Programme ist nichts Besonderes zu beachten.

    a(class="anchor", id="a9")
    .question
      a(data-scroll="", href="#q9") Wieviel Strom konsumiert Alpina im Durchschnitt?
    .answer Das Gerät hat einen Verbrauch von 3,8 kWh.

    a(class="anchor", id="a10")
    .question
      a(data-scroll="", href="#q10") Wie viel Wasser benötigt das Gerät?
    .answer Der Wasserverbrauch von Alpina beträgt 80-90 Liter.

    a(class="anchor", id="a11")
    .question
      a(data-scroll="", href="#q11") Wie lange dauert ein Zyklus?
    .answer Die Herstellung von Käsekulturen und Fermenten benötigt etwa  8-10 Stunden, die Joghurtherstellung hingegen 10-12 Stunden.

    a(class="anchor", id="a12")
    .question
      a(data-scroll="", href="#q12") Wie kann ich ohne kühlem Wasser trotzdem eine Abkühlung erreichen?
    .answer
      | Bei ungenügender Abkühlung durch zu warmes Wasser, kann der Behälter vom Gerät entnommen werden. Schließen Sie ihn mit dem einfachen Deckel und stellen sie den Behälter in den Kühlschrank.
      | Als Alternative kann das Gerät auch an einen dafür entwickelten Kühlautomat angeschlossen werden.

    a(class="anchor", id="a13")
    .question
      a(data-scroll="", href="#q13") Können an einem Tag auch mehrere Zyklen gestartet werden?
    .answer Es kann ein zusätzlicher Behälter angekauft werden, um große Mühen zu umgehen, so können an einem Tag auch mehrere verschiedene Verarbeitungsprogramme gestartet werden.

    a(class="anchor", id="a14")
    .question
      a(data-scroll="", href="#q14") Ist es möglich die durchgeführten Programme der Milchverarbeitung abzuspeichern?
    .answer Alpina wurde eigens mit einer USB-Vorrichtung ausgestattet, damit die gespeicherten Daten von der externen Programmsteuerung auf einen Computer oder einen Speicherstick übertragen werden können.

    a(class="anchor", id="a15")
    .question
      a(data-scroll="", href="#q15") Ist Alpina normgerecht?
    .answer Alpina entspricht den Sicherheitsbestimmungen der europäischen Union (2006/42/CE).

    a(class="anchor", id="a16")
    .question
      a(data-scroll="", href="#q16") Wie kann Alpina erworben werden?
    .answer Um Alpina zu bestellen, wird eine schriftliche Anfrage benötigt. Bevor Sie das Gerät erhalten, muss der gesamte Betrag per Banküberweisung eingezahlt werden.

    a(class="anchor", id="a17")
    .question
      a(data-scroll="", href="#q17") Wie viele Tage kann die Lieferung in Anspruch nehmen?
    .answer Die Lieferung kann je nach Distanz 15-20 Arbeitstage in Anspruch nehmen.

    a(class="anchor", id="a18")
    .question
      a(data-scroll="", href="#q18") Wann hat sich die Anschaffung dieses Gerätes bezahlt gemacht?
    .answer Das Gerät macht sich im Zeitraum von 8 Monaten bezahlt, wenn pro Woche an die 30 Liter Joghurt hergestellt werden.

    a(class="anchor", id="a19")
    .question
      a(data-scroll="", href="#q19") Wie soll das Gerät gepflegt werden, um eine lange Betriebsdauer zu erreichen?
    .answer
      | Zum Reinigen sollte lediglich warmes Wasser mit Geschirrspülmittel verwendet werden, keine Kratzbürsten, sondern weiche Putzlappen. Der Behälter sollte immer gut mit Wasser ausgespült werden, dabei soll unbedingt darauf geachtet werden, dass die elektrischen Bestandteile nicht nass werden.

    a(class="anchor", id="a20")
    .question
      a(data-scroll="", href="#q20") Wie lange ist das Gerät unter Garantie?
    .answer Die Garantie beläuft sich auf ein Jahr ab dem Datum der Lieferung.

    a(class="anchor", id="a21")
    .question
      a(data-scroll="", href="#q21") Wo wird Alpina produziert?
    .answer Alpina wird gänzlich in Italien hergestellt.
