extends ./layout.jade

block title
  title Vollautomatische elektrische Fermentierung Alpina | Modenese Silvano

block additional-headers
  include ../includes/photo_swipe/style.jade

block content
  .content_section
    center
      h1.content_title Vollautomatische Fermentierung und Joghurtherstellung
      include ../includes/photos.jade

    .content_item
      p
        | Vollautomatische, elektrische Fermentierung bzw. Gärung, mit einer Fassung von
        b 14 Liter Milch.
      p
        | Der Gärungsprozess basiert auf dem einfachen Prinzip der angepassten Erwärmung und Abkühlung der
        | Milch mit Hilfe des Wasserbades. Durch die kontrollierten und zeitlich fein abgestimmten Prozesse von
        | ALPINA kann Milch pasteurisiert oder fermentiert werden, können Joghurt, Molke und verschiedene
        | weitere Desserts hergestellt werden.

  .content_section
    .content_title Die Bestandteile
    .content_item
      p ALPINA setzt aus vier wichtigen Komponenten zusammen:
      ul
        li
          | Dem zylindrischen Außenbehälter aus Edelstahl AISI 204, in dem sich die Vorrichtung für das Wasserbad befindet.
        li
          | Dem zylindrische Innenbehälter aus Edelstahl AISI 304 mit einem Fassungsvermögen von 14 Liter, der für die Rohmilchverarbeitung.
        li
          | Dem Deckel für den gesamten Behälter in Edelstahl AISI 204, auf dem sich der der elektrische
          | Motor samt Motorschutzgehäuse befindet. Der Deckel beinhaltet zudem den Rührstab und den
          | Temperaturfühler für die bearbeitete Milch.
        li
          | Dem externen Kontrollsystem zur Programmierung der gewünschten Abläufe, welches von einer
          | rechteckigen Verkleidung aus Edelstahl AISI 304 und einem steuerbaren Bildschirm umgeben ist.

  .content_section
    .content_title Der Vorgang
    .content_item
      p
        | Der Abkühlungsprozess erfolgt ganz automatisch nach der festgelegten Programmierung, die vom externen
        | Kontrollsystem ausgeht. Somit veranlasst das Kontrollsystem entweder, dass das dafür vorgesehenen
        | Elektroventil für das Wasser sich öffnet und das kühle Leitungswasser in den Außenbehälter fließt, oder
        | dass die Anzeige für die manuelle Wasserzugabe auf dem Display erscheint und das kalte Wasser händisch
        | dazugegeben werden muss.
      p
        | Der Prozess der Erwärmung und das Beibehalten der gewünschten Temperatur der Milch erfolgt wiederum
        | durch die Steuerung über das externe Kontrollsystem, welches in der Lage ist durch Zufuhr von elektrischer
        | Energie die Temperatur im Wasserbad beizubehalten oder zu erhöhen.

  .content_section
    .content_title Angaben zur Leistung
    .content_item
      p
        | Außengröße des Behälters:
        b
          | Durchmesser Ø 35cm, Höhe 74cm
      p
        | Lehrgewicht:
        b
          | 20kg
      p
        | Einspeisung / Energieverbrauch:
        b
          | 220V ; 1,8kW ; 50Hz
      p
        | Angaben zum Vorgang:
        b
          | 14 Liter Milch, 20-70°C c.ca 50-60 Minuten

block additional-scripts

  include ../includes/photo_swipe/script.jade
