extends ./layout.jade

block title
  title Vollautomatische elektrische Fermentierung Alpina | Modenese Silvano

block additional-headers
  include ../includes/photo_swipe/style.jade

block content
  .content_section
    center
      h1.content_title Vollautomatische Fermentierung und Joghurtherstellung
      include ../includes/photos.jade

    .content_item
      p
        | Vollautomatische, elektrische Fermentierung bzw. G&auml;rung, mit einer Fassung von&nbsp;
        b 14 Liter Milch.
      p
        | Der G&auml;rungsprozess basiert auf dem einfachen Prinzip der angepassten Erw&auml;rmung und Abk&uuml;hlung der
        | Milch mit Hilfe des Wasserbades. Durch die kontrollierten und zeitlich fein abgestimmten Prozesse von
        | ALPINA kann Milch pasteurisiert oder fermentiert werden, k&ouml;nnen Joghurt, Molke und verschiedene
        | weitere Desserts hergestellt werden.

  .content_section
    .content_title Die Bestandteile
    .content_item
      p ALPINA setzt aus vier wichtigen Komponenten zusammen:
      ul
        li Dem zylindrischen Außenbeh&auml;lter aus Edelstahl AISI 204, in dem sich die Vorrichtung f&uuml;r das Wasserbad befindet.
        li Dem zylindrische Innenbeh&auml;lter aus Edelstahl AISI 304 mit einem Fassungsverm&ouml;gen von 14 Liter, der f&uuml;r die Rohmilchverarbeitung.
        li
          | Dem Deckel f&uuml;r den gesamten Beh&auml;lter in Edelstahl AISI 204, auf dem sich der der elektrische
          | Motor samt Motorschutzgeh&auml;use befindet. Der Deckel beinhaltet zudem den R&uuml;hrstab und den
          | Temperaturf&uuml;hler f&uuml;r die bearbeitete Milch.
        li
          | Dem externen Kontrollsystem zur Programmierung der gew&uuml;nschten Abl&auml;ufe, welches von einer
          | rechteckigen Verkleidung aus Edelstahl AISI 304 und einem steuerbaren Bildschirm umgeben ist.

  .content_section
    .content_title Der Vorgang
    .content_item
      p
        | Der Abk&uuml;hlungsprozess erfolgt ganz automatisch nach der festgelegten Programmierung, die vom externen
        | Kontrollsystem ausgeht. Somit veranlasst das Kontrollsystem entweder, dass das daf&uuml;r vorgesehenen
        | Elektroventil f&uuml;r das Wasser sich &ouml;ffnet und das k&uuml;hle Leitungswasser in den Außenbeh&auml;lter fließt, oder
        | dass die Anzeige f&uuml;r die manuelle Wasserzugabe auf dem Display erscheint und das kalte Wasser h&auml;ndisch
        | dazugegeben werden muss.
      p
        | Der Prozess der Erw&auml;rmung und das Beibehalten der gew&uuml;nschten Temperatur der Milch erfolgt wiederum
        | durch die Steuerung &uuml;ber das externe Kontrollsystem, welches in der Lage ist durch Zufuhr von elektrischer
        | Energie die Temperatur im Wasserbad beizubehalten oder zu erh&ouml;hen.

  .content_section
    .content_title Angaben zur Leistung
    .content_item
      p
        | Außengr&ouml;ße des Beh&auml;lters:&nbsp;
        b
          | Durchmesser &Oslash; 35cm, H&ouml;he 74cm
      p
        | Lehrgewicht:&nbsp;
        b
          | 20kg
      p
        | Einspeisung / Energieverbrauch:&nbsp;
        b
          | 220V ; 1,8kW ; 50Hz
      p
        | Angaben zum Vorgang:&nbsp;
        b
          | 14 Liter Milch, 20-70&deg;C c.ca 50-60 Minuten

block additional-scripts

  include ../includes/photo_swipe/script.jade
