url = '__URL__'

@require 'nib'
@require 'rupture'
@require 'jeet'

global-reset()

font-url(file)
  return url + '/fonts/' + file

webfont(family, file, weight, style)
  @font-face
    font-family family
    src url(font-url(file + '.eot')),
        url(font-url(file + '.woff')) format('woff'),
        url(font-url(file + '.ttf')) format('truetype'),
        url(font-url(file + '.svg#'+ family)) format('svg')
    font-weight weight
    font-style style

webfont('Viga', 'viga/viga-regular-webfont', normal, normal)
webfont('Open Sans', 'opensans/opensans-light-webfont', 300, normal)
webfont('Open Sans', 'opensans/opensans-lightitalic-webfont', 300, italic)
webfont('Open Sans', 'opensans/opensans-regular-webfont', 400, normal)
webfont('Open Sans', 'opensans/opensans-italic-webfont', 400, italic)
webfont('Open Sans', 'opensans/opensans-semibolditalic-webfont', 600, italic)
webfont('Open Sans', 'opensans/opensans-semibold-webfont', 600, normal)
webfont('Open Sans', 'opensans/opensans-bold-webfont', 700, normal)
webfont('Open Sans', 'opensans/opensans-bolditalic-webfont', 700, italic)
webfont('Open Sans', 'opensans/opensans-extrabolditalic-webfont', 800, italic)
webfont('Open Sans', 'opensans/opensans-extrabold-webfont', 800, normal)

font-heading = "Viga", sans-serif
font-body = "Open Sans", sans-serif

color-black--dark = rgb(38,42,43)
color-black = rgb(53,57,58)
color-black--light = rgb(81,88,90)
color-black--lighter = rgb(100,100,100)
color-grey--dark = rgb(139,140,142)
color-grey = rgb(174,174,176)
color-white--lighter = rgb(255,255,255)
color-white--light = rgb(254,254,254)
color-white--dark = rgb(230,230,230)
color-red = rgb(239,90,79)
color-blue--light = rgb(104,187,227)
color-blue--dark = rgb(40,59,114)

button(foreground, background)
  box-shadow inset 0 0 0 2px foreground
  color foreground
  &:focus
    outline 0
  &:hover
    background rgba(foreground, 0.2)
  &:active
    background foreground
    color background

.title
  font-family font-heading
  text-transform uppercase

.container
  max-width 55rem
  margin 0 auto

.paddings
  padding 0 5rem
  +below(35em)
    padding 0 .5rem

*
  box-sizing border-box

html
  font-size 1em
  +below(35em)
    font-size 1.2em

body
  font-family font-body
  font-weight 300
  line-height 1.2
  background-color color-white--light
  color color-black--lighter

h1
h3
h4
h5
  @extends .title

h1
  font-size 3rem

h2
  font-size 2rem
  line-height 1.4

h3
h5
  font-size 2.5rem

h4
  font-size 1.9rem

a
  color inherit
  text-decoration none
  transition opacity 200ms
  &:hover
    opacity .6

strong
  font-weight 600

// header
.header
  position fixed
  width 100%
  height 8rem
  z-index 100
  color color-black
  background-color color-white--lighter
  transition all 300ms
  +below(35em)
    height 4.4rem
  &.isTransparent
    color color-black
    background-color transparent

.header__content
  @extends .container
  overflow hidden

.header__logo
  @extends .title
  float left
  font-size 1.75rem
  margin-left 0
  img
    width 8rem
    +below(35em)
      width 4rem

.header_nav
  margin 4rem 1rem 1rem 1rem
  float left
  border-bottom .175rem solid color-black
  line-height 1.6rem
  +below(35em)
    margin 1.15rem .2rem 1rem .2rem
  +below(21em)
    display inline
    margin 0.8 .2rem 1rem .2rem
  .item
    margin 0 .5rem 0 .5rem
    display inline
    +below(35em)
      margin 0 0 0 .5rem

// content
.content
  padding 9rem 1rem 3rem 1.1rem
  +below(35em)
    padding 5rem .4rem 3rem .4rem
  +below(21em)
    padding 7rem .4rem 3rem .4rem
  a
    text-decoration underline

.content_section
  padding-bottom 2rem

.content_title
  font-size 2rem
  line-height 1.4
  +below(35em)
    font-size 1.3rem

.content_item
  margin 1rem 0 0 0
  .logo__azienda
    img
      width 6rem
      +below(35em)
        width 4rem
  +below(35em)
    line-height 1.5rem

// bottom
.bottom
  background-color color-black
  color color-grey--dark
  padding 1rem
  height 160px
  +below(35em)
    padding 0.5rem

.bottom__content
  @extends .container
  overflow hidden
  position relative
  +below(35em)
    text-align center

.bottom__content--left
  float left
  padding 1rem .5rem 0 1rem
  span
    margin-left 0.3rem
    font-family font-heading
  +below(35em)
    float none

.bottom__content--right
  float right
  +below(35em)
    float none
    margin-bottom 1rem

.bottom__social
  color color-grey--dark

.bottom__social-button
  display inline-block
  width 1.4rem
  height 1.4rem
  background-size 1.4rem
  vertical-align middle
  margin-left .5rem

.bottom__social-button--facebook
  background-image url('/images/facebook.svg')

.bottom__social-button--twitter
  background-image url('/images/twitter.svg')

.bottom__social-button--instagram
  background-image url('/images/instagram.svg')

.footer
  @extends .container
  width 100%
  background-color color-white--light
  color color-blue--dark
  text-align center

.footer__contacts_container
  float left
  margin 1rem 0rem 2rem 0rem
  +below(35em)
    margin 0.5rem 0 2rem 0
  font-size 0.5rem
  .footer__logo
    float left
    width 260px
    line-height 0.8rem
    text-align left
    div
      +below(35em)
        font-size 0.6rem
      margin 0rem 0rem 1rem 0.8rem
  .footer__contacts_info
    float left
    line-height 1rem
    font-size 0.65rem
    +below(35em)
      font-size 0.8rem
      line-height 1.2rem
    text-align left
    margin 0rem 0.5rem 0rem 0.7rem
    a
      text-decoration underline
      font-size 0.75rem
      line-height 2rem
      +below(35em)
        font-size 1rem

